.header-main {
    background: $color-2;
    transition: all 50ms ease-in-out;

    &__contact-beam {
        background: $color-3;
        padding: 7px 0;
        transition: all 50ms ease-in-out;
        position: relative;
    }

    .contact-top-links {
        float: left;

        a {
            color: #e0e0e0;
            font-size: 1.1rem;
            display: inline-block;
            margin-right: 10px;

            span::before {
                color: $ico-header;
                font-size: 1.8rem;
                margin-right: 8px;
                top: 2px;
            }

            &:hover {
                color: #c88f38;
            }
        }

        a::after {
            content: "";
            height: 13px;
            width: 1px;
            background: $ico-header;
            display: inline-block;
            margin-left: 12px;
            position: relative;
            top: 2px;
        }

        a:last-of-type:after {
            display: none;
        }

        a:last-of-type {
            margin-right: 0;
        }
    }

    &__address {
        color: #e0e0e0;
        font-size: 1.1rem;
        display: none;

        @media screen and (min-width: 767px) {
            display: inline-block;
            float: right;
            position: relative;
            top: 8px;
        }
    }

    .container-content {
        padding: 13px 15px;
        position: relative;
        transition: all 10ms ease-in-out;
    }

    .logo-main {
        width: 135px;
        display: inline-block;

        img {
            max-height: 100%;
        }
    }

    .navbar-toggle {
        background: #c88f38;

        @include vertical-center;

        position: absolute;
        right: 15px;
        margin: 0;
        cursor: pointer;

        span {
            background: #fff;
        }
    }

    .nav {
        background: $menu-bg;
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 8px;
        z-index: 10;

        @media screen and (min-width: 768px) {
            background: none;
            position: relative;
            margin-top: 5px;
            float: right;
        }

        &__list {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                display: block;
                border-bottom: 1px solid rgba(255, 255, 255, 0.12);

                @media screen and (min-width: 768px) {
                    border: 0;
                    display: inline-block;
                    margin-right: 20px;
                }

                a {
                    color: #fff;
                    text-align: center;
                    font-size: 1.6rem;
                    padding: 15px 0;
                    display: block;

                    @media screen and (min-width: 768px) {
                        text-transform: uppercase;
                        font-size: 1.4rem;
                        position: relative;
                    }

                    &:hover {
                        background: $color-2;
                        color: #c88f38;
                    }
                }

                a::after {
                    @media screen and (min-width: 768px) {
                        content: "";
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        position: absolute;
                        right: -13px;
                        top: 23px;
                        background: #cda665;
                    }
                }
            }

            li:last-of-type {
                @media screen and (min-width: 768px) {
                    margin-right: 0;
                }

                a::after {
                    display: none;
                }
            }
        }
    }
}

.header-main.top-nav-collapse {
    .header-main__contact-beam {
        margin-top: -37px;
    }
}